.alert.alert-info
  .form-inline
    .form-group
      a.btn.btn-link 现在开始
    .form-group
      app-button([data]="controlData.btnStart")
    .form-group
      app-button([data]="controlData.btnOpen")
