:host{display: block; padding: 0 16px;}
input{width: 250px;}
ul{list-style-type: none; padding: 0 0 0 8px;}
blockquote{margin: 20px 0 0; border-top: 1px solid #ccc; padding: 10px 0; color: #ccc;}
