.i-container
  form.form((submit)="submit($event)")
    .form-group
      label {{data.username.label}}
      input.form-control(type="text", [(ngModel)]="data.username.value", name="username", [placeholder]="data.username.placeholder")
    .form-group
      label {{data.password.label}}
      input.form-control(type="password", [(ngModel)]="data.password.value", name="password", [placeholder]="data.password.placeholder")
    .form-group
      button.i-hideBtnSubmit 试试
      app-button([data]="controlData.appBtn")
