form((submit)="data.onSubmit()")
  div
    label {{data.username.label}}
    input(type="text", [ngModel]="data.username.value", [placeholder]="data.username.placeholder")
  div
    label {{data.password.label}}
    input(type="password", [ngModel]="data.password.value", [placeholder]="data.password.placeholder")
  div
    button {{data.submitText}}
